{
  "plugins": [
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/babel-plugin-macros/dist/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-syntax-dynamic-import/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-syntax-top-level-await/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/babel-plugin-transform-remove-strict-mode/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-proposal-class-properties/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-transform-object-assign/lib/index.js",
    [
      "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-syntax-decorators/lib/index.js",
      {
        "legacy": true
      }
    ],
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/babel-plugin-syntax-async-functions/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/babel-plugin-transform-function-bind/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-proposal-export-default-from/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-proposal-export-namespace-from/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-proposal-nullish-coalescing-operator/lib/index.js",
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/plugin-proposal-optional-chaining/lib/index.js",
    [
      "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/babel-plugin-module-resolver/lib/index.js",
      {
        "root": [],
        "alias": {
          "@": "./src",
          "@/mhy": "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/dist"
        }
      }
    ],
    "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/react-hot-loader/babel.js"
  ],
  "presets": [
    [
      "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/preset-env/lib/index.js",
      {
        "targets": {
          "chrome": 78,
          "edge": 15,
          "esmodules": false
        },
        "modules": false
      }
    ],
    [
      "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/preset-react/lib/index.js",
      {}
    ],
    [
      "/Users/pablohpsilva/.nvm/versions/node/v10.16.3/lib/node_modules/mhy/node_modules/@babel/preset-typescript/lib/index.js",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ]
}